.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 6px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-trigger {
    padding: 0.8em 1em;
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.5s ease);
    @include position(fixed, 0);
    background-color: rgba(#000, 0.80);
    opacity: 1;
    padding-top: 0.6em;
    text-align: left;
    visibility: visible;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background-color: $white;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    top: 5em;
    width: 95%;

    h1 {
      color: $base-font-color;
      margin-bottom: 0.6em;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;

      .btn.connect {
        margin: 10px 0;
      }
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .two-column {
    .left-column {
      width: 40%;
      height: 100%;
      float:left;
      padding: 10px 30px;

    }
    .right-column {
      width: 60%;
      height: 100%;
      float: left;
      padding: 10px 30px;
      border-left: 1px solid $light-gray;
    }
  }
}

.modal-open {
  overflow: hidden;
}

