$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px,
        wide:    1300px
);

// Libs
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";

@import "fonts/variables";
@import "fonts/mixins";
@import "fonts/Light";
@import "fonts/LightItalic";
@import "fonts/Regular";
@import "fonts/Italic";
@import "fonts/Semibold";
@import "fonts/SemiboldItalic";
@import "fonts/Bold";
@import "fonts/BoldItalic";
@import "fonts/ExtraBold";
@import "fonts/ExtraBoldItalic";

//  Breakpoints
@import "mq/mq";

// Handy mixins
@import "mixins";

// Custom
@import "base";
@import "modal";

nav {
  display: block;
  height: 50px;
  background-color: $blue;
  font-weight: 600;
  color: $white;
  ul {
    @extend %listreset;
    li {
      display: inline-block;
      padding: 17px 17px 17px 25px;
    }
  }
}

.header-container {
  background-color: $white;
}

div.header {
  display: block;
  position: relative;
  @extend %clearfix;

  & > div {
    display: block;
    float: left;
    font-weight: 400;
    font-size: 12px;
  }

  .logo {
    padding: 10px 0px 10px 25px;
    width: 160px;
  }
  .page-title,
  .page-buttons {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 10px;
  }

  .page-title {
    margin-left: 20px;
  }

  .page-buttons {
    text-align: right;
    float: right;
    padding-right: 25px;
  }

  div.language {
    @extend %clearfix;
    width: 62px;
  }

  div.language,
  div.loginname,
  div.help,
  div.logout {
    display: block;
    float: right;
    margin-left: 30px;
  }

  .switch-toggle {
    top: -6px;
    background-color: rgba(0,0,0,0.20);
    text-shadow: none;
    box-shadow: none;
    color: $blue;
  }

  .switch-candy label {
    color: $blue;
    text-shadow: none;
  }

  .switch-candy input:checked + label {
    color: $white;
    text-shadow: none;
    background-color: $blue;
    @include border-radius(3px);
  }

  .switch-candy {
    text-shadow: none;
    box-shadow: none;
    font-weight: normal;
    a {
      border: none;
      box-shadow: none;
      background-color: $blue;
    }
  }
}

div.page-container {
  padding: 25px;

  div.content {
    @include border-radius(4px);
    @include box-shadow(0px, 0px, 8px, rgba(0,0,0,0.20));
    background-color: $white;

    .content-title {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.row {

  @extend %clearfix;
  padding: 20px 20px 20px;

  .connection-button,
  .connection-logo {
    padding: 0 10px 0 0;

    @include mq($from: tablet) {
      float: left;
      width: 25%;
    }
  }

  .connection-button {
    text-align: left;

    @include mq($from: tablet) {
      text-align: center;
    }
  }

  .logo-container {
    max-width: 160px;
    border: 1px solid $base-background-color;
  }

  .connection-description {
    padding: 20px 0px;

    @include mq($from: tablet) {
      float: left;
      width: 50%;
      padding: 0px;
    }

    font-size: 13px;
    span.service {
      font-weight:bold;
    }

    p {
      padding: 0;
    }
  }
}

.border-top {
  border-top: 1px solid $base-background-color;
}

.btn {
  display: inline-block;
  @include border-radius(6px);
  font-weight: 400;
  font-size: 16px;
  color: $white;
  line-height: 22px;
  padding: 4px 30px 4px;
  @include transition(background-color 0.2s ease-in-out);

  &.connect {
    background-color: $blue;
  }
  &.disconnect {
    background-color: $lightgrey;
  }

  &:hover {
    text-decoration: none;
    background-color: $darkblue;
  }
}

.connected-connections {
  .connection-description > div {
    padding: 10px 0;
    vertical-align: top;
    display: block;

    @include mq($from: tablet) {
      display: inline-block;
      padding: 0 20px;
    }

    span.header {
      color: $gray;
    }
    p {
      padding-bottom: 10px;
    }
  }

  @include mq($from: tablet) {
    .connection-info {
      width: 40%;
    }
  }
  .connection-status {
    color: $green;
  }
}