{% extends 'AppBundle:default:index.html.twig' %}

{% block modal %}
<div class="modal login-modal">
    <div class="modal-fade-screen">
        <div class="modal-inner">
            <h1>{% trans %}auth_error{% endtrans %}</h1>
            <p class="modal-content">
                {% trans %}auth_error_msg{% endtrans %}
                <br/>
                <a href="{{  url('index') }}" class="btn connect">{% trans %}home{% endtrans %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
