{% extends 'AppBundle:default:index.html.twig' %}

{% block modal %}
<div class="modal login-modal">
    <div class="modal-fade-screen">
        <div class="modal-inner" style="width: 50%;">
            <h1>{% trans %}login{% endtrans %}</h1>
            <p class="modal-content centered">
                {% trans %}login_msg{% endtrans %}<br/>
                <br/>
                <a href="{{  url('saml_auth') }}" class="btn connect">{% trans %}login_to_openconext{% endtrans %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
