{% extends 'AppBundle:default:index.html.twig' %}

{% block modal %}
<div class="modal login-modal">
    <div class="modal-fade-screen">
        <div class="modal-inner">
            <h1>Login</h1>
            <p class="modal-content">
                First login to Open Conext in order to proceed.<br/>
                <br/>
                <a href="{{  url('saml_auth') }}" class="btn connect">Login</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
